<!DOCTYPE html>
<html lang="en">
<body>
    <div class="flex justify-center h-screen">
        <div class="w-1/3 pt-10">
            <div class="border border-opacity-50 p-8 bg-default-blue mb-6 rounded-lg">
                <div class="border-b-2 border-grey-200 border-opacity-50 mb-4 pb-2">
                    <p class="font-semibold text-xl">Sign into your account</p>
                </div>
                <%= form_tag sessions_path do |form| %>
                    <div>
                        <div class="border mb-2">
                            <%= text_field_tag :username, "", class: "w-full h-10 pl-2", placeholder: "Your Username" %>
                        </div>
                        <div class = "border">
                            <%= password_field_tag :password, nil, class: "w-full h-10 pl-2", placeholder: "Your Password" %>
                        </div>
                        <div class="border-t-2 border-grey-200 border-opacity-50 flex w-full mt-3 pt-2">
                            <%= submit_tag "Login" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</body>
</html>