version: '3'

services:
# BBB LTI DEPS ↓:
  postgres:
    image: postgres:14.6-alpine3.17
    restart: unless-stopped
    volumes:
      - ./data/postgres/14/database_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=
  redis:
    image: redis:6.2-alpine3.17
    restart: unless-stopped
    volumes:
      - ./data/redis/database_data:/data
# BBB LTI BROKER ↓:
  broker:
    image: bigbluebutton/bbb-lti-broker:beta
    restart: unless-stopped
    env_file: broker/.env
    logging:
      driver: journald
    depends_on:
      - postgres
    ports:
      - 127.0.0.1:3030:3000
# BBB LTI APPS ↓:
  rooms:
    image: bigbluebutton/bbb-app-rooms:beta
    restart: unless-stopped
    env_file: rooms/.env
    logging:
      driver: journald
    ports:
      - 127.0.0.1:3131:3000
    depends_on:
      - postgres
      - redis
      - broker
