<%# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.

Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>. %>

<h1 style="text-align: center">Content Item Selection</h1>
<h4>Content Item Response</h4>

<% if @message %>
<%= react_component('ContentItemBuilder',
                    data:@message.data,
                    returnUrl:@message.content_item_return_url,
                    ltiVersion:@message.lti_version,
                    ltiLaunchUrl:blti_launch_url,
                    ltiUpdateUrl:content_item_request_launch_url,
                    textFileUrl: asset_url('test_file.txt'),
                    ccFileUrl: asset_url('test-course-export.imscc'),
                    documentTargets:@message.accept_presentation_document_targets.split(','),
                    mediaTypes:@message.accept_media_types.split(','),
                    consumerKey:@oauth_consumer_key
    ) %>
<% end %>
<h4>LTI Message</h4>
<%= render "message_info" %>
