<!DOCTYPE html>
<html lang="en">
<body>
    <div class="px-44 py-12">
        <div class="border-b-2 pb-4">
            <p class="text-3xl font-medium"> Organization Settings </p>
        </div>
        <div class="mt-4 flex">
            <%= render "admin/components/menu_buttons" %>
            <div class="pl-10 flex-grow">
                <div class="border rounded-md">
                    <%= render "admin/components/deployments" %>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>