<!DOCTYPE html>
<html lang="en">
<body>
    <div class="px-44 pt-12 h-full">
        <div class="border-b-2 pb-4">
            <p class="text-3xl font-medium"> Organization Settings </p>
        </div>
        <div class="mt-4 flex">
            <%= render "admin/components/menu_buttons" %>
            <div class="pl-10 flex-grow">
                <div class="border rounded-md">
                    <div class="h-full">
                        <%= render "admin/components/keys" %>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>