<%# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.

Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).

This program is free software; you can redistribute it and/or modify it under the
terms of the GNU Lesser General Public License as published by the Free Software
Foundation; either version 3.0 of the License, or (at your option) any later
version.

BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public License along
with BigBlueButton; if not, see <http://www.gnu.org/licenses/>. %>

<div class="container">

    <h1>Bigbluebutton LTI</h1>

    <h2>Configuration XML</h2>

    <% if defined?(xml_builder_url) %>
    <% xml_url = xml_builder_url %>
    <% else %>
    <% xml_url = "" %>
    <% end %>

    <p>View the LTI configuration xml <%= link_to('here', xml_config_url, target: "_blank") %>.</p>
    <% if ENV['DEVELOPER_MODE_ENABLED'] == 'true'%>
        <p> Customize the configuration <%= link_to('here', xml_url) %>.</p>
        <p>This configuration is used to install your LTI tool into an LSM.  This xml can be referenced by url or copied and pasted during the install process.</p>
    <% end %>

    <h2>LTI Launch</h2>

    <p>The LTI Launch endpoint is <%= link_to(blti_launch_url(app: Rails.configuration.default_tool), blti_launch_url(app: Rails.configuration.default_tool)) %>.</p>

    <p>Note, this url is typically sent a POST request with all sorts of LTI data.  If you access it directly, it'll display an error page indicating your request did not validate.</p>

    <br>
</div>
